<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Post</title>
</head>
<body>
    <h1>Update Post</h1>
    <form action="{% url 'update' pk=post.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="text">Description:</label><br>
        <textarea id="text" name="text" required>{{ post.text }}</textarea><br>
        <label for="image">Image:</label><br>
        <input type="file" id="image" name="image"><br>
        <label for="tags">Tags:</label><br>
        <select name="tags" multiple>
            {% for tag in tags %}
                {% if tag in post.tag.all %}
                    <option value="{{ tag.id }}" selected>{{ tag.name }}</option>
                {% else %}
                    <option value="{{ tag.id }}">{{ tag.name }}</option>
                {% endif %}
            {% endfor %}
        </select><br>
        <button type="submit">Update</button>
    </form>
</body>
</html>
